.titre-logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #303030;
    height: 15vh;
}
.logo-projet{
    padding-right: 20px;
    padding-top: 11px;
    padding-left: 10px;
    height: 90px;
    width: 90px;
}
.titre-projet{
    color: #e23623;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 44px;
    margin-top: 1.5vh;
}
.sous-titre{
    color: white;
    position: absolute;
    top: 6.5vh;
    left: 7.9vw;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}
.disposition-bandeau{
    display: flex;
    flex-direction: row;
    position: relative;
    background: #303030;
    border-bottom: solid 3px white;
}
.selecteur{
    margin-bottom: 1.2vh;
    position: absolute;
    background: #303030;
    top: 4vh;
    right: 10vw;
    /*border: solid 2px red;*/
    align-items: center;
}
.fixeur-bandeau{
    position: sticky;
    top: 0;
    z-index: 5;
}